.Content {
  margin-top: 60px;
  min-height: calc(100vh - 60px - 50px - 80px);
}

@media (min-width: 500px)
{
  .Content {
    margin-top: 100px;
    min-height: calc(100vh - 100px - 50px - 80px);
  }
}