body {
  margin: 0;
  padding: 0;
  font-family: 'Russo One';
  font-weight: normal;
}
:root {
  /* --debug: 1px solid red; */

  --mainGradient: linear-gradient(to bottom right, #9CECFB, #65C7F7, #0052D4);
  --secondaryGradient: linear-gradient(to bottom right, #B06AB3, #4568DC);
  
  --lightBlue: #65C7F7;
  --blue: #2458DC;
  --purple: #8C49F6;
  /* --mainShadow: 0px 2px 4px 2px rgba(0,0,0,0.3); */
  /* --secondaryShadow: 0px 2px 50px -5px rgba(0,0,0,0.2); */
  --mainShadow: 0px 2px 50px -5px rgba(0,0,0,0.3);
  /* --mainShadow: 0px 2px 50px -5px rgba(0,150,255,0.4); */

  --appWidth: calc(100% - 30px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}